:root {
  --light--blue: ##f3f9ff;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app {
  display: flex;
  flex-direction: column;
}

.app-header {
  position: fixed;
  z-index: 1020;
  width: 100%;
  flex: 0 0 64px;
  position: relative;
  flex-direction: row;
  height: 64px;
  padding: 0;
  margin: 0;
}

.sidebar {
  z-index: 1019;
  margin-top: 64px;
}

.app-body {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  overflow-x: hidden;
}

.app-body .main {
  flex: 1 1;
  min-width: 0;
}

.margin-auto {
  margin: 0 auto;
  max-width: calc(100% - 50px);
}

.action-container{
  margin-top: 20px;
  border: 0.5px solid #E1E1E1;
  border-bottom: none;
  padding: 10px 16px;
  position: relative;
}
.action-container h3{
  margin-bottom: 0;
  margin-top: 0;
  color: #005288;
}
.action-container-icons{
  position: absolute;
  right: 12px;
  top: 5px
}

.action-container-icons span{
  margin-left: 10px;
  cursor: pointer;
}

.action-container-icons span:hover{
  color: #00509F;
}

.action-container-icons span:disabled{
  opacity: 0.5;
  cursor: default;
}

.search-area{
  margin-top: 15px;
  min-height: 120px;
  background: #F7F7F9;
}

.search-area .MuiFormControl-root{
  margin-left: 15px;
  margin-top: 5px;
}

.search-heading{
  margin-bottom: 5px;
  padding-top: 10px;
  margin-left: 15px;
  color: #005288;
}

/**************** SIDE MENU BAR START ****************/

.rotate {
  -moz-transition: all 2s linear;
  -webkit-transition: all 2s linear;
  transition: all 2s linear;
}

.rotate.down {
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* .Mui-selected::before {
  top: 0px;
  left: 0px;
  width: 3px;
  bottom: 0px;
  content: "";
  display: block;
  position: absolute;
  border-left: 4px solid #00509f !important;
} */

/**************** SIDE MENU BAR END ****************/

/**************** FOOTER MENU BAR START ****************/

.footer-wrapper {
  position: fixed;
  bottom: 0;
  width: calc(100% - 240px);
  background: #6cf;
}

.footer-text {
  display: flex;
  justify-content: center;
  font-size: 13px;
  line-height: 15px;
}

/**************** FOOTER MENU BAR END ****************/
