.rdt_Table{
    border: 0.5px solid #E1E1E1;
    box-sizing: border-box;
}
.rdt_TableHead .rdt_TableCol_Sortable{
    color: rgba(0,0,0,1);
    font-weight: bold;
}
div.rdt_TableHeadRow{
    background: #F7F7F9;
    min-height: 51px;
}

.rdt_Pagination{
    border-top: none;
}

.rdt_TableRow:hover{
    background: #f6f6f6;
    cursor: pointer;
}